@font-face {
    font-family: BenguiatNormal;
    src: url(../../../assets/fonts/BenguiatNormal.ttf),
         url(../../../assets/fonts/BenguiatBold.woff);
}

@font-face {
    font-family: BenguiatBold;
    src: url(../../../assets/fonts/BenguiatBold.ttf),
         url(../../../assets/fonts/BenguiatBold.woff);
}

@font-face {
    font-family: BenguiatRegular;
    src: url(../../../assets/fonts/BenguiatRegular.ttf),
         url(../../../assets/fonts/BenguiatBold.woff);
}

.font-b-normal {
    font-family: BenguiatNormal;
}

.font-b-bold {
    font-family: BenguiatBold;
}

.font-b-regular {
    font-family: BenguiatRegular;
}

body {
    background: #17112a;
    @apply text-pink-200;
    font-family: BenguiatRegular;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgb(89, 12, 12);
}

.world-shadow {
    box-shadow: 0 0 10px #be185d, 0 0 1px red;
}

.upside-down-shadow {
    box-shadow: 0px 0px 10px rgb(29,78,216);
}

.world-shadow.logo {
    box-shadow: 0px 0px 5px rgb(190,24,93), 0 0 3px red;
}

.upside-down-shadow.logo {
    box-shadow: 0px 0px 5px rgb(29,78,216);
}

h1, h2, h3 {
    color: #17112a;
    text-shadow: 1px 1px 5px rgb(190,24,93), 0px 0px 3px red;
}