@font-face {
    font-family: BenguiatNormal;
    src: url(../../../assets/fonts/BenguiatNormal.ttf),
         url(../../../assets/fonts/BenguiatBold.woff);
}

@font-face {
    font-family: BenguiatBold;
    src: url(../../../assets/fonts/BenguiatBold.ttf),
         url(../../../assets/fonts/BenguiatBold.woff);
}

@font-face {
    font-family: BenguiatRegular;
    src: url(../../../assets/fonts/BenguiatRegular.ttf),
         url(../../../assets/fonts/BenguiatBold.woff);
}

.font-b-normal {
    font-family: BenguiatNormal;
}

.font-b-bold {
    font-family: BenguiatBold;
}

.font-b-regular {
    font-family: BenguiatRegular;
}

body {
    background: #17112a;
    @apply text-pink-200;
    font-family: BenguiatRegular;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}